<%- include header %>
	<div id="nav_wrap">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">我的博客</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav navbar-right">
				        <% if (userid) { %>
				        	<li><a href="#">欢迎  <%= userid.name %></a></li>
				        	<li><a href="/logout">注销</a></li>
				        <% }else{ %>
				        	<li><a href="/admin">登陆</a></li>
				        	<li><a href="#">注册</a></li>
				        <% } %>
				    </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->

			</div>
		</nav>	
	</div>
	<div class="container">
		<table class="table table-striped">
		  <thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>password</th>
					<th>email</th>
					<th>操作</th>
				</tr>
		  </thead>
		  <tbody>
			<% user.forEach(function(user){ %>
				<tr>
					<td><%=user._id %></td>
					<td><%=user.name %></td>
					<td><%=user.password %></td>
					<td><%=user.email %></td>
					<td><a href="<%=user._id %>" >delete</a></td>
				</tr>
			<% }) %>
		  </tbody>
		</table>
	</div>
<script type="text/javascript" src="/js/user.js"></script>
<%- include footer %>